<% include partials/header %>

<h1> Welcome to BreadCheck! </h1>


<h4> Save and see the status of your food rations! </h4>


<a href="/foods"> View Current Foods </a>

<br>

<% include partials/footer %>
