<% include partials/header %>

<h1> Welcome to IdeaCafe! </h1>


<h4> Browse our gallery of user-submitted TED talks and submit your favorites! </h4>


<a href="/talks"> View Current Talks </a>

<br>

<% include partials/footer %>
