body {
    /*background: cyan;*/
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption {
    padding: 9px;
}

.form-login {
    width: 30%; 
    margin: auto;
}

.form-new-talk {
    width: 50%;
    margin: 20px auto;
}


#delete-talk {
    display: inline !important;
}

#delete-comment {
    display: inline !important;
}